<?xml version="1.0" encoding="UTF-8" ?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd">
       
    <global-method-security secured-annotations="enabled"/>
    
    <http pattern="/system/**" security="none"/>
      
	<http use-expressions="false" access-decision-manager-ref="accessDecisionManager">
		<intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/index.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/home/**" access="ROLE_CUSTOM"/>
		<form-login login-page="/login" default-target-url="/home" always-use-default-target="false" />
		<csrf/>
	</http>
	
	<beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:constructor-arg>
			<beans:list>
				<beans:bean class="com.huaguo.admin.security.CustomRoleVoter"/>
				<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
			</beans:list>
		</beans:constructor-arg>
		<beans:property name="allowIfAllAbstainDecisions" value="true"/>
	</beans:bean>
	
	<beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	
	<authentication-manager>
		<authentication-provider user-service-ref="loginService">
			<password-encoder ref="encoder"/>
		</authentication-provider>
	</authentication-manager>
	   
</beans:beans>